@import "tailwindcss";

body {
  overflow-x: hidden;
  background-color: #0f1715; /* <-- Warna dasar halaman yang solid */
  color: theme('colors.gray.200');
}


#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}